/* General styling for the weather form container */
.weather-form {
  
  background-size: cover;
  background-position: center;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 20px;
  transition: background 0.3s ease-in-out;
}

/* Styling for the weather icons */
.weather-icon {
  width: 64px;
  height: 64px;
}

/* Specific colors for each weather icon */
.sun-icon {
  color: yellow;
}

.cloudy-icon {
  color: gray;
}

.rain-icon {
  color: blue;
}

.snow-icon {
  color: white;
}

/* Styling for the input box */
.weather-input {
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  color: gray;
  text-align: center;
  border: none;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

/* Styling for the search button */
.search-button {
  margin-top: 20px;
  background-color: #3498db;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #2980b9;
}
